<form method="POST" action="{{ script_root }}/admin/chal/new" enctype="multipart/form-data">
	<div class="form-group">
		<label for="name">Name
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="The name of your challenge"></i>
		</label>
		<input type="text" class="form-control" name="name" placeholder="Enter challenge name">
	</div>
	<div class="form-group">
		<label for="category">Category
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="The category of your challenge"></i>
		</label>
		<input type="text" class="form-control" name="category" placeholder="Enter challenge category">
	</div>

	<div class="form-group">
		<label for="value">Value
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="This is how many points are rewarded for solving this challenge."></i>
		</label>
		<input type="number" class="form-control" name="value" placeholder="Enter value" required>
	</div>

	<div class="form-group">
		<label>Flag
			<i class="far fa-question-circle text-muted cursor-help" data-toggle="tooltip" data-placement="right" title="This is the flag or solution for your challenge. You can choose whether your flag is a static string or a regular expression."></i>
		</label>
		<input type="text" class="form-control" name="key" placeholder="Enter flag">
	</div>

	<input type="hidden" value="{{ nonce }}" name="nonce" id="nonce">
	<input type="hidden" value="anonymous" name="chaltype" id="chaltype">

	<div class="form-group">
		<button class="btn btn-primary float-right create-challenge-submit" type="submit">Create</button>
	</div>
</form>
